:root {
    --background: #FEF7DD;
    --accent-yellow: #F8C10B;
    --accent-blue: #0B42F8;
    --accent-red: #F84A0B;
    --accent-black: #1A1A1A;
    --accent-slate: #f1f5f9;
}

.hover-underline {
    text-decoration: none;
}

.hover-underline:hover {
    text-decoration: underline;
}

/* override bootstrap main classes */
.page-item.active .page-link {
    background-color: var(--accent-yellow) !important;
    border-color: var(--accent-yellow) !important;
}

.page-link {
    color: var(--accent-black) !important;
}

/* borrow some classes from tailwindcss */
.shadow-inner {
    box-shadow: inset 0 2px 4px 0 rgb(0 0 0 / 0.05);
}

.bg-opacity-20 {
    background-color: rgba(0, 0, 0, 0.2);
}

/* custom classes */
.z-max {
    z-index: 1000;
}

